@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #111827;
  --secondary-color: #e5e7eb;
  --card-border: #dad8da;
  --background-color: white;
}
button {
  cursor: pointer;
  background-color: var(--background-color);
  border: none;
  outline: none;
}
.container {
  display: grid;
  grid-template-rows: 75px 1fr 75px;
  min-height: 100vh;
}

.header-container,
.content-container,
.footer-container {
  max-width: 1000px;
  margin: 0 auto;
}

.header-section {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  color: var(--secondary-color);
}

.content-section {
  background-color: var(--background-color);
}

.content-container {
  position: relative;
  grid-row: 2/3;
  padding: 32px;
}

.header-container {
  grid-row: 1/2;
}

.add-book-btn,
.form-submit-btn,
.form-back-btn {
  margin-bottom: 16px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--secondary-color);
  outline: inherit;
  border: 1px solid var(--main-color);
  border-radius: 10px;
}

.add-book-btn:hover,
.form-submit-btn:hover,
.form-back-btn:hover {
  opacity: 0.7;
}

.add-book-btn {
  position: fixed;
  bottom: 32px;
  z-index: 1;
  right: 32px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* card container section */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 32px;
}

.card {
  border: 1px solid var(--card-border);
  padding: 32px;
  display: grid;
  gap: 16px;
  /* text-align: center; */
  position: relative;
  box-shadow: -10px 10px var(--main-color);
  border-radius: 8px;
}

.card[data-read="true"] {
  box-shadow: -10px 10px var(--main-color);
}
.card[data-read="false"] {
  box-shadow: -10px 10px rgb(204, 83, 83);
}

.card > button {
  position: absolute;
  top: 12px;
  right: 12px;
}

.reading-status {
  display: flex;
  align-items: center;
  gap: 8px;
}
.toggle-reading-checkbox {
  vertical-align: middle;
}

.card > button > span,
.toggle-reading-checkbox {
  font-size: 1rem;
}

/* form section */
.form-input {
  border: 1px solid var(--main-color);
  border-radius: 8px;
  padding: 32px 16px;
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  display: none;
}

.form-input input[type="text"],
.form-input input[type="number"] {
  padding: 4px;
}

.form-input > div {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  margin-bottom: 16px;
}

.radio-container {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 0;
}

.form-input .form-btn-container {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 0px;
}

.form-btn-container > button {
  width: 100px;
  margin-bottom: 0px;
}

/* footer section */
.footer-section {
  grid-row: 3/4;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.github-logo-img {
  width: 40px;
  height: auto;
}

@media screen and (min-width: 800px) {
  .form-input {
    width: 500px;
  }
  .add-book-btn {
    position: sticky;
    border-radius: 10px;
    width: auto;
    height: auto;
    top: 16px;
  }

  .add-book-btn::after {
    content: "NEW BOOK";
  }
}
